<nav class="global-navbar">
  <div class="navbar-top">
    <div class="navbar-logo">
      <img
        src="../../../../assets/images/footerlogo.png"
        alt="TutorBase Logo"
      />
    </div>

    <ul class="navbar-links">
      <div class="navbar-section-label">OVERVIEW</div>

      <li>
        <a routerLink="/dashboard" routerLinkActive="active"> Dashboard </a>
      </li>
      <li>
        <a routerLink="/contact" routerLinkActive="active"> Contact Us </a>
      </li>
      <li>
        <a routerLink="/about" routerLinkActive="active"> About Us </a>
      </li>
    </ul>
  </div>

  <div class="navbar-bottom">
    <div class="navbar-section-label">SETTINGS</div>
    <a class="settings-link" routerLink="/settings" routerLinkActive="active">
      Settings
    </a>
  </div>
</nav>
