.courses-list-container {
  width: 100%;
  max-width: 1450px;
  padding-top: 15px;
}

.courses-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 26px 0px;
  justify-content: flex-start;

  margin-bottom: 20px;
  &:last-child {
    margin-bottom: 0;
  }
}

app-course-card {
  flex: 1 1 23%;
  max-width: 25%;
}

@media (max-width: 1200px) {
  app-course-card {
    flex: 1 1 46%;
    max-width: 46%;
  }
  .courses-grid {
    gap: 20px 12px;
  }
}
@media (max-width: 700px) {
  app-course-card {
    flex: 1 1 97%;
    max-width: 97%;
  }
  .courses-list-container {
    padding: 0 2vw;
  }
  .courses-grid {
    gap: 13px 0;
    margin-bottom: 10px;
  }
}

// SEARCH ADDITION

.courses-list {
  width: 100%;
  margin: 0 auto;
  padding: 0 2vw;
}

.course-card-row {
  display: flex;
  gap: 18px;
  margin-bottom: 22px;
  flex-wrap: wrap;
}

@media (max-width: 900px) {
  .course-card-row {
    gap: 8px;
  }
}

@media (max-width: 700px) {
  .courses-list {
    padding-left: 4vw;
    padding-right: 4vw;
  }
  .course-card-row {
    flex-direction: column;
    gap: 20px;
  }
}
